<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model结合radio</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <label for="male">男</label>
    <input type="radio" id="male" v-model="sex" value="男">
    <label for="female">女</label>
    <input type="radio" id="female" v-model="sex" value="女">
    <br>
    当前选择:{{sex}}
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        sex: ''
      }
    })
  </script>
</body>
</html>