<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notepad</title>
    <link rel="stylesheet" href="index.css">
    <script src="../../vue.js"></script>
</head>
<body>
    <!-- 主题区域 -->
    <section id="todoapp">
        <!-- 输入框 -->
        <header class="header">
            <h1>Notepad</h1>
            <input v-model="inputValue" @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务" class="new-todo">
        </header>
        <!-- 列表区域 -->
        <section class="main">
            <ul class="todo-list">
                <li class="todo" v-for="(item,index) in list">
                    <div class="view">
                        <span class="index">{{index+1}}</span>
                        <label>{{item}}</label>
                        <button class="destroy" name="destroy" @click="remove(index)"></button>
                    </div>
                </li>
            </ul>
        </section>
        <!-- 统计和清空 -->
        <footer class="footer" v-show="list.length!=0">
            <span class="todo-count">
                <strong>{{list.length}}</strong> item left
            </span>
            <button class="clear-completed" @click="clear">清除</button>
        </footer>
    </section>

    <script>
        var app = new Vue({
            el: '#todoapp',
            data: {
                list: ['写代码','吃饭','睡觉'],
                inputValue: ""
            },
            methods: {
                add() {
                    this.list.push(this.inputValue)
                    console.log(this)
                },
                remove(index) {
                    this.list.splice(index,1);
                },
                clear() {
                    this.list = [];
                }
                // clear: () => {
                //     // this.list.splice(0,this.list.length);
                //     console.log(this);
                    
                }
            })
    </script>
</body>
</html>