* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1920px;
    margin: auto;
}
.header {
    height: 42px;
    background-color: #ffffff;
}
.logo1 {
    float: left;
    width: 150px;
    height: 41px;
    margin-left: 910px;
}
.goldspring {
    float: left;
    width: 230px;
    height: 40px;
}
.quanquan {
    float: left;
    margin-left: 335px;
}
.quanquan img {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 3px;
}
.quanquan a {
    float: left;
    width: 84px;
    height: 17px;
    display: block;
    font: 14px 'Microsoft yahei';
    color: #464646;
    line-height: 42px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
}
.quanquan a:hover {
    color: #ef511b;
}
.rate {
    float: left;
    width: 123px;
    height: 41px;
}
.rate a {
    display: block;
    font: 14px 'Microsoft yahei';
    padding: 0px 25px 0px 0px;
    line-height: 42px;
    text-decoration: none;
    font-weight: 700;
    color: #464646;
}
.bgimg {
    background: url(/images/honor/490951454030546.jpg) center no-repeat;
    width: 2880px;
    height: 1100px;
    margin-top: 0;
}
.nav {
    width: 2880px;
    height: 84px;
    background: rgba(0, 0, 0, 0.8);
}
.main {
    width: 1020px;
    height: 84px;
}
.bgimg .nav ul {
    display: table;
    float: left;
    margin: 0 0 0 0;
}
h1 .title {
    
    /* display: inline-block; */
    float: left;
    width: 110px;
    height: 84px;
    /* margin-left: 500px; */
}



.bgimg .nav .title a {
    float: left;
    display: block;
    width: 200px;
    height: 54px;
    background: url(/images/honor/logo.png) no-repeat ;
    margin-top: 10px;
    margin-left: 800px;
    /* margin-left: 840px; */
}

.bgimg .nav ul li a {
    float: left; 
    display: block;
    width: 110px;
    height: 84px;
    padding: 25px 0px 0px;
    font: 18px 'Microsoft yahei';
    color: #c9c9dd;
    text-decoration: none;
}
.bgimg .nav ul li a:hover {
    color: #d1a651;
}
.bgimg .nav ul {
    margin-left: 50px;
}